.app {
  display: flex;
  
}

.discover {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 300px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-header {
  margin: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

.menu {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 700px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  margin: 0px;
  margin-top: 20px;
}

.description {
  margin: 0px;
  margin-top: 25px;
}

.pikachu {
  margin: 0px;
  text-align: center;
}

.discover-button {
  margin: 0px;
  margin-top: 10px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.discover:active {
  border: 5px white;
}


.ban {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 250px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
