.app {
  display: flex;
  
}

.discover {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 300px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.discover-header {
  margin: 0px;
  margin-top: 20px;
  margin-left: 10px;
}

.discovered-sprite {
  margin: 0px;
}

.discovered-pokemon {
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}

.menu {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 680px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  margin: 0px;
  margin-top: 20px;
}

.description {
  margin: 0px;
  margin-top: 25px;
}

.pikachu {
  margin: 0px;
  text-align: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name {
  margin: 0px;
  margin-top: 50px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 0px;
  margin-top: 15px;
}

.type {
  margin: 0px;
  margin-top: 10px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.ability {
  margin: 0px;
  margin-top: 10px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.location {
  margin: 0px;
  margin-top: 10px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.pokemon-image {
  margin: 0px;
  height: 300px;
}

.discover-button {
  margin: 0px;
  margin-top: 10px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 110px;
  cursor: pointer;
}

.discover:active {
  border: 5px white;
}


.ban {
  background-color: #242424b0;
  border-radius: 8px;
  height: 700px;
  width: 250px;
  margin: 0px;
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
